[user]
	email = mrexox@outlook.com
	name = Valentin Kiselev
	signingkey = 0x5FB6DBC4E654859B
[apply]
  whitespace = nowarn
[core]
  whitespace = -indent-with-non-tab,trailing-space,cr-at-eol
  quotepath = false
  autocrlf = input
[merge]
  summary = true
  conflictstyle = diff3
[push]
  default = current
[diff]
  indentHeuristic = true
  compactionHeuristic = true
[remote]
  pushDefault = origin
[alias]
  a = add -A
  c = checkout
  cc = commit
  s = status
  b = branch
  ca = commit --amend
[commit]
  gpgsign = true
